<section class="moves-list">
    <h4><img src="../../../assets/img/moves.png"> {{title}}</h4>
    <div class='moves-container'>
        <article *ngFor="let move of moves" class='move-preview'>
            <p *ngIf="isWithName">To {{move.to}}</p>
            <p class="light-grey"><span class="gold">₿ {{move.amount}}</span> | {{move.amount/rate|currency:'USD'}}</p>
            <p>Status: <span class="green">Approved</span></p>
            <p>{{move.at | date: 'MMM dd yyyy, hh:mm a'}}</p>
        </article>
        <p *ngIf="!moves.length" class="empty">No moves to show</p>
    </div>
</section>